@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: white;
  color: #111827;
}

a {
  font-weight: 500;
  color: #4f46e5;
  text-decoration: none;
}

a:hover {
  color: #6366f1;
}
